@font-face {
  font-family: "FuturisticFont";
  src: url("fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Normal";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BtnsStyle";
  src: url("fonts/Rethink_Sans/static/RethinkSans-Bold.ttf") format("truetype");
}

.robotsPanelNav{
  width: 100vw;
  height: 140px;
  background-color: rgba(21, 21, 21, 0.616);
  border-bottom: 2px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}

.robotsHolder{
  background-color: rgba(59, 59, 59, 0.585);
  flex: 3;
  border-radius: 13px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: hidden;
  border: 3px solid lightgray;
  
}

.robotBox{
  width: 85px;
  height: 85px;
  background-color: rgb(25, 25, 25);
  color: cyan;
  margin: 10px;
  flex-shrink: 0;
  font-family: "FuturisticFont";
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 2px solid cyan;
  transition: 0.5s;
  letter-spacing: 1px;
}

.cyanBtn{
  background-color: black;
  border: 2px solid cyan;
  border-radius: 10px;
  color: cyan;
}

.robotsNavBtnsHolder{
  flex: 2;
  background-color: rgba(15, 15, 15, 0.736);
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  border: 3px solid lightgray;
}

.searchDevicesBtn{
  width: 140px;
  height: 40px;
  text-align: center;
}

.cyanHoverBtn:hover{
  transition: 0.4s;
  box-shadow: 0 0 3px #16ecff, 0 0 10px #16ecff, 0 0 20px #16ecff;
  scale: 1.05;
}

.infoBtn{
  width: 12px;
  height: 12px;
  background-image: url("assets/icons/infoBtn.png");
  background-size: cover;
}

.menuBtn{
  width: 55px;
  height: 55px;
  background-image: url("assets/icons/expandableMenu.png");
  background-size: cover;
  transition: 0.3s;
}

.menuBtn:hover{
  transform: scale(1.15);
  box-shadow: 0px 0px 14px cyan;
}