.robotsPanel {
  width: 100vw;
  height: 100vh;
  background-image: url("backgrounds/robotsPanelBackground.jpg");
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 800px){
  .robotsPanel{
    overflow-x: hidden;
    overflow-y: auto;
  }
}