@font-face {
  font-family: "FuturisticFont";
  src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "BtnsStyle";
  src: url("/fonts/Rethink_Sans/static/RethinkSans-Bold.ttf") format("truetype");
}

.robotConnectionBtn{
  width: 90%;
  height: 30%;
}

.cyanText{
  color: rgba(0, 255, 255, 0.725);
  font-size: 15px;
}

.cyanBtn{
  width: 90%;
  height: 30%;
  background-color: black;
  border: 2px solid rgba(0, 255, 255, 0.725);
  border-radius: 12px;
  color: rgba(0, 255, 255, 0.725);
  font-size: 15px;
}

.cyanBtn:hover{
  transition: 0.4s;
  box-shadow: 0 0 3px #16ecff, 0 0 10px #16ecff, 0 0 20px #16ecff;
  scale: 1.05;
}

.searchDevicesBtn{
  width: 80%;
  height: 30%;
  text-align: center;
}

.infoBtn{
  width: 12px;
  height: 12px;
  background-image: url("assets/icons/info-btn-icon.png");
  background-size: cover;
}

.menuBtn{
  width: 55px;
  height: 55px;
  background-image: url("assets/icons/expandable-menu-icon.png");
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}

.menuBtn:hover{
  transform: scale(1.15);
  box-shadow: 0px 0px 14px cyan;
}

.robotsHolderCyanInfo{
  margin-left: 40px;
  color: cyan;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-family: "FuturisticFont";
  font-weight: bold;
}

.robotsHolderErrorArea{
  width: auto;
  height: auto;
  color: red;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
  font-family: "FuturisticFont";
  margin-left: 40px;
}

.robotConnectionBtnsHolder{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1400px) {
  .cyanBtn{
    width: 70%;
    height: 35%;
    font-size: 9px;
  }
  .cyanText{
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  .robotsPanelNav{
    width: 97vw;
    height: 200px;
    flex-direction: column;
  }
  .robotsNavBtnsHolder{
    height: 50%;  
    order: 1;
  }
  .robotsHolder{
    height: 50%;
    order: 2;
    padding: 0;
  }
  .robotsHolderErrorArea{
    margin: 0 auto;
  }
  .cyanBtn{
    font-size: 10px;
  }
  .cyanText{
    font-size: 10px;
  }
  .menuBtn{
    width: 40px;
    height: 40px;
  }
  .robotConnectionBtnsHolder{
    flex-direction: row;
  }
  .robotConnectionBtn{
    width: 45%;
    height: 70%;
  }
  .searchDevicesBtn{
    width: 55%;
    height: 32%;
    text-align: center;
  }
  .cyanHoverBtn:hover{
    transition: 0.4s;
    box-shadow: 0 0 1px #16ecff, 0 0 8px #16ecff, 0 0 8px #16ecff;
    scale: 1.03;
  }
  .menuBtn:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 10px cyan;
  }
}