@font-face {
  font-family: "FuturisticFont";
  src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "BtnsStyle";
  src: url("/fonts/Rethink_Sans/static/RethinkSans-Bold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
