.camerasPanel {
  width: 100%;
  height: 110vh;
  background-image: url("backgrounds/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 800px) {
  .camerasPanel{
    height: 120vh;
  }
}