@font-face {
  font-family: "FuturisticFont";
  src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Normal";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BtnsStyle";
  src: url("/fonts/Rethink_Sans/static/RethinkSans-Bold.ttf") format("truetype");
}

.camerasPanelNav {
  width: 100vw;
  height: 20vh;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.cameraDevicesHolder {
  height: 100%;
  flex: 3;
  border: 3px solid lightgray;
  border-radius: 12px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  order: 1;
}

.cameraDeviceBox {
  width: 100px;
  height: 80%;
  background-color: rgb(25, 25, 25);
  color: cyan;
  margin: 10px;
  flex-shrink: 0;
  font-family: "FuturisticFont";
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 2px solid cyan;
  transition: 0.5s;
  letter-spacing: 1px;
}

.cameraDeviceBox:hover, .cameraDeviceBox:focus {
  color: black;
  background-color: cyan;
  box-shadow: 0 0 3px #16ecff, 0 0 10px #16ecff, 0 0 20px #16ecff;
  scale: 1.05;
}

.navControlBtnsHolder {
  height: 100%;
  flex: 2;
  background-color: rgba(0, 0, 0, 0.336);
  border: 3px solid lightgray;
  border-radius: 12px;
  display: flex;
  order: 2;
}

.navControlBtnsSubHolder1, .navControlBtnsSubHolder2{
  height: 100%;
  display: flex;
}

.navControlBtnsSubHolder1{
  width: 40%;
  border-right: 2px dashed lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navControlBtnsSubHolder2{
  width: 60%;
  border-left: 2px dashed lightgray;
  flex-direction: row;
  padding-left: 5px;
}

.infoBtn{
  background-image: url("assets/icons/info-btn-icon.png");
  background-size: cover;
}

.cyanBtn{
  width: 90%;
  height: 25%;
  background-color: black;
  border: 2px solid rgba(0, 255, 255, 0.725);
  border-radius: 12px;
  color: rgba(0, 255, 255, 0.725);
  font-size: 15px;
}

.cyanBtn:hover{
  transition: 0.4s;
  box-shadow: 0 0 3px #16ecff, 0 0 10px #16ecff, 0 0 20px #16ecff;
  scale: 1.05;
}

.devicesListInfoBtn{
  width: 55px;
  height: 55px;
  background-image: url("assets/icons/expandable-menu-icon.png");
  background-size: cover;
}

.devicesListInfoBtn{
  background-image: url("assets/icons/devices-list-info-icon.png");
}

.closeConnectionsBtn {
  height: 80%;
  width: 170px;
  position: relative;
  font-size: 15px;
  font-family: "FuturisticFont";
  font-weight: 1000;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  border: 2px, solid, black;
  color: cyan;
}

.closeSelectViewBtn{
  width: 40px;
  height: 40px;
  background-image: url('assets/close-select-view-ion.png');
  background-size: cover;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.closeSelectViewBtn:hover{
  background-image: url('assets/close-select-view-btn-hover-icon.png');
}

.selectCamViewBtn{
  height: 100px;
  width: 140px;
  background-color: black;
  border: 2px solid cyan;
  border-radius: 8px;
  color: cyan;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
}

.selectCamViewBtn:hover{
  color: black;
  background-color: cyan;
  box-shadow: 0 0 3px #16ecff,
              0 0 10px #16ecff,
              0 0 20px #16ecff;
}

.selectGridOptionPopup{
  width: 50vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 3px solid gray;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.optionsScrollArea{
  width: 98%;
  height: 98%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.gridOptionBox{
  width: 80%;
  height: 120px;
  background-color: rgba(112, 112, 107);
  border-radius: 6px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.gridOptionImage{
  width: 170px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .cyanBtn{
    width: 70%;
    height: 35%;
    font-size: 9px;
  }
  .cyanText{
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  .camerasPanelNav{
    width: 97vw;
    height: 200px;
    flex-direction: column;
  }
  .navControlBtnsHolder{
    height: 50%;  
    order: 1;
  }
  .cameraDevicesHolder{
    height: 50%;
    order: 2;
    padding: 0;
  }
  .robotsHolderErrorArea{
    margin: 0 auto;
  }
  .cyanBtn{
    font-size: 10px;
  }
  .cyanText{
    font-size: 10px;
  }
  .menuBtn{
    width: 40px;
    height: 40px;
  }
  .robotConnectionBtnsHolder{
    flex-direction: row;
  }
  .robotConnectionBtn{
    width: 45%;
    height: 70%;
  }
  .searchDevicesBtn{
    width: 55%;
    height: 32%;
    text-align: center;
  }
  .cyanHoverBtn:hover{
    transition: 0.4s;
    box-shadow: 0 0 1px #16ecff, 0 0 8px #16ecff, 0 0 8px #16ecff;
    scale: 1.03;
  }
  .menuBtn:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 10px cyan;
  }
}